.review_background{
    /* background-image: url(https://i.ibb.co/3zq9hJx/bl11-1024x1024.jpg); */
    background-image: url(https://i.ibb.co/dr99R6R/pexels-photo-3760983.jpg);
    background-position: center;
    background-size: cover;
}